.contactLayout {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  align-items: center;
}

.contactInfo {
  text-align: left;
  max-width: 500px;
}

.mapContainer {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  margin-bottom: 14px;
}

.infoItem i {
  font-size: 20px;
  color: #121212; /* Bootstrap primary blue */
}


@media (width >= 900px) {
  .contactLayout {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}
